<div class="row">
    <div class="panel panel-default">
        <table id="tablerecherche" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            
            <tbody>
                {% for board in boardAll %}
                    <tr class="lien" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_voirB', {'id': board.id}) }}';">
                        <td>
                            {{ board.name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<a href="{{ path('smartcampus_ajouterB') }}" class="btn btn-success bouton-accueil">
    <span class="glyphicon glyphicon-plus-sign"></span> Board
</a>

