{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <h1 onclick="location.href='{{ path('smartcampus_accueil') }}';">{{ titre }}</h1>

    <!-- Navigation -->
    {% include "SmartCampusBundle:Smart:navigation.html.twig" %}
    
    <div class="container">
        
        {% if (tag == "All") or (tag == NULL) %}
        {% include "SmartCampusBundle:Smart:datatableAll.html.twig" %}
        {% endif %}
        {% if tag == "Phy" %}
        {% include "SmartCampusBundle:Smart:datatablePhy.html.twig" %}
        {% endif %}
        {% if tag == "Vir" %}
        {% include "SmartCampusBundle:Smart:datatableVir.html.twig" %}
        {% endif %}
        {% if tag == "Board" %}
        {% include "SmartCampusBundle:Smart:datatableBoard.html.twig" %}
        {% endif %}
        
    </div>

    <!-- Boite dialogue ajout board -->
    {% include "SmartCampusBundle:Smart:dialogue.html.twig" %}

{% endblock %}