{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <h1><span class="glyphicon glyphicon-home" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_accueil') }}';"></span> {{ titre }}</h1>

    <!-- Navigation -->
    {% include "SmartCampusBundle:Smart:navigation.html.twig" %}
    <br>
    <div class="container">
        
        {% if (tag == "All") or (tag == NULL) %}
        {% include "SmartCampusBundle:Smart:datatableAll.html.twig" %}
        {% endif %}
        {% if tag == "Phy" %}
        {% include "SmartCampusBundle:Smart:datatablePhy.html.twig" %}
        {% endif %}
        {% if tag == "Vir" %}
        {% include "SmartCampusBundle:Smart:datatableVir.html.twig" %}
        {% endif %}
        {% if tag == "Board" %}
        {% include "SmartCampusBundle:Smart:datatableBoard.html.twig" %}
        {% endif %}
        
    </div>

    <!-- Boite dialogue ajout board -->
    {% include "SmartCampusBundle:Smart:dialogue.html.twig" %}
    
    <!-- Boite dialogue log synchro -->
    {% include "SmartCampusBundle:Smart:log.html.twig" %}

{% endblock %}