{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Modificatiop{% endblock %}

{% block body %}

    <h1>Modification du capteur {{ capteur.name }}</h1>

    {% include "SmartCampusBundle:Smart:formulaire.html.twig" %}
	
    <a href="{{ path('smartcampus_voir', {'id': capteur.id}) }}" class="btn">
        Retour à {{ capteur.name }}
    </a>

{% endblock %}
