<!--parties communes a tout les capteurs-->
<div class="row">
    <div class="col-md-2">Capteur : </div>
    <div class="col-md-2">{{ capteur.name }}</div>
</div>
<br>
<div class="row">
    <div class="col-md-2">Kind :</div>
    <div class="col-md-2">{{ capteur.kind }}</div>
</div>
<br>
<div class="row">
    <div class="col-md-2">Frequency :</div>
    <div class="col-md-2">{{ capteur.frequency }}</div>
</div>
<br>