{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %}

    <h1>Ajout d'un capteur</h1>

	{% include "SmartCampusBundle:Smart:formulaire.html.twig" %}
	
    <a href="{{ path('smartcampus_accueil') }}" class="btn">
        Retour à l'accueil
    </a>

{% endblock %}
