<div class="row">
    <div class="well">
        <form id="my_form" action="{{ path('smartcampus_redirect') }}" method="post">
            <div class="col-md-10">
                Type :
                <select id="kind" name="kind">
                    <option value="indiferent">indiferent</option>
                    <option value="temperature">temperature</option>
                    <option value="luminosite">light</option>
                </select>
            </div>
            <div class="col-md-2-offset-2">
                <input type="submit" value="Filtrer">
            </div>
        </form>
    </div>
</div>