<div class="well-sm"> 
    <form id="my_form" action="{{ path('smartcampus_redirect') }}" method="post">
        Type :
        <select id="kind" name="kind">
            <option value="indiferent">indiferent</option>
            <option value="temperature">temperature</option>
            <option value="luminosite">light</option>
        </select>
        <input type="submit" value="Filtrer">
    </form>
</div>