{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

    <h1>Modification</h1>

    <p>
      Modification du capteur {{ id }}
    </p>
	
{% endblock %}
