<html>
    <head>
        <title>Filtrage</title>
        <meta http-equiv="refresh" content="0; URL={{ path('smartcampus_accueil', {'kind': kind}) }}">
    </head>
    
    <body>
    </body>
    
</html> 